<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">

    <test name="API Automation Tests"
          verbose="2"
          preserve-order="true">

        <classes>
            <class name="org.example.ex_03_TestNG_AllureReport.APITesting_Lab06_TestCase">
                <methods>
                    <include name="test_GET_POSITIVE_TC1"/>
                    <include name="test_GET_NEGATIVE_TC2"/>
                    <include name="test_GET_NEGATIVE_TC3"/>
                </methods>
            </class>
        </classes>

    </test>

</suite>
